@import url(../fonts/css/all.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/* line 7, cart.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

/* line 12, cart.scss */
html {
  scroll-behavior: smooth; }

/* line 16, cart.scss */
html,
body {
  margin: 0;
  padding: 0; }

/* line 22, cart.scss */
body {
  font-family: 'Roboto', sans-serif; }

/* line 26, cart.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

/* line 33, cart.scss */
img {
  display: block;
  width: 100%; }

/* line 38, cart.scss */
a {
  text-decoration: none; }

/* line 42, cart.scss */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* line 49, cart.scss */
#header .header-top {
  background-color: #fafafa; }
  /* line 52, cart.scss */
  #header .header-top .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 55, cart.scss */
    #header .header-top .container .contact-info {
      font-size: 13px;
      line-height: 1.3; }
    /* line 60, cart.scss */
    #header .header-top .container .form {
      font-size: 13px;
      line-height: 1.3;
      height: 100%;
      background-color: #f0b11a;
      padding: 16px 13px; }
      /* line 67, cart.scss */
      #header .header-top .container .form a {
        color: #000; }
/* line 74, cart.scss */
#header .header-middle .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 76, cart.scss */
  #header .header-middle .search-box .logo,
  #header .header-middle .search-box .icons {
    width: 20%;
    padding: 10px 0; }
    @media (max-width: 640px) {
      /* line 76, cart.scss */
      #header .header-middle .search-box .logo,
      #header .header-middle .search-box .icons {
        width: 50%; } }
  /* line 84, cart.scss */
  #header .header-middle .search-box .search-bar {
    width: 50%;
    padding: 10px 0; }
    @media (max-width: 640px) {
      /* line 84, cart.scss */
      #header .header-middle .search-box .search-bar {
        display: none; } }
    /* line 90, cart.scss */
    #header .header-middle .search-box .search-bar i {
      position: absolute;
      z-index: 1;
      font-size: 18px;
      padding: 11px 0 10px 15px;
      color: #1c1a1b; }
    /* line 97, cart.scss */
    #header .header-middle .search-box .search-bar input {
      position: relative;
      font-size: 15px;
      line-height: 1.3;
      width: 100%;
      padding: 10px 20px 10px 40px;
      background-color: #fafafa;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px; }
  /* line 108, cart.scss */
  #header .header-middle .search-box .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    /* line 111, cart.scss */
    #header .header-middle .search-box .icons .icon-box {
      text-align: center; }
      /* line 113, cart.scss */
      #header .header-middle .search-box .icons .icon-box a {
        font-size: 15px;
        color: #6d6d6d; }
        /* line 116, cart.scss */
        #header .header-middle .search-box .icons .icon-box a span::before {
          content: "\A";
          white-space: pre; }
/* line 125, cart.scss */
#header .header-bottom {
  margin-bottom: 20px; }
  /* line 127, cart.scss */
  #header .header-bottom .container {
    overflow: hidden; }
    @media (max-width: 900px) {
      /* line 127, cart.scss */
      #header .header-bottom .container {
        display: none; } }
    /* line 132, cart.scss */
    #header .header-bottom .container .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      /* line 134, cart.scss */
      #header .header-bottom .container .nav .dropdown {
        float: left;
        overflow: hidden; }
        /* line 137, cart.scss */
        #header .header-bottom .container .nav .dropdown .dropbtn {
          font-size: 14px;
          border: none;
          padding: 14px 16px;
          text-transform: uppercase;
          background-color: inherit;
          font-family: inherit;
          margin: 0; }
          @media (max-width: 1200px) {
            /* line 137, cart.scss */
            #header .header-bottom .container .nav .dropdown .dropbtn {
              padding: 10px 10px; } }
          @media (max-width: 1033px) {
            /* line 137, cart.scss */
            #header .header-bottom .container .nav .dropdown .dropbtn {
              padding: 6px 7px; } }
          @media (max-width: 992px) {
            /* line 137, cart.scss */
            #header .header-bottom .container .nav .dropdown .dropbtn {
              padding: 6px 4px; } }
          /* line 154, cart.scss */
          #header .header-bottom .container .nav .dropdown .dropbtn i {
            font-size: 13px;
            line-height: 1.3;
            color: #656260;
            margin-left: 10px; }
            @media (max-width: 1200px) {
              /* line 154, cart.scss */
              #header .header-bottom .container .nav .dropdown .dropbtn i {
                margin-left: 5px; } }
            @media (max-width: 992px) {
              /* line 154, cart.scss */
              #header .header-bottom .container .nav .dropdown .dropbtn i {
                margin-left: 2px; } }
        /* line 167, cart.scss */
        #header .header-bottom .container .nav .dropdown .dropdown-content {
          display: none;
          position: absolute;
          background-color: #fafafa;
          min-width: 160px;
          -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1; }
          /* line 174, cart.scss */
          #header .header-bottom .container .nav .dropdown .dropdown-content a {
            font-size: 12px;
            line-height: 1.3;
            float: none;
            color: #656260;
            padding: 12px 16px;
            display: block;
            text-align: left; }
          /* line 183, cart.scss */
          #header .header-bottom .container .nav .dropdown .dropdown-content a:hover {
            background-color: #ddd; }
      /* line 189, cart.scss */
      #header .header-bottom .container .nav .dropdown:hover .dropdown-content {
        display: block; }
      /* line 192, cart.scss */
      #header .header-bottom .container .nav a {
        float: left;
        font-size: 14px;
        line-height: 1.3;
        text-align: center;
        padding: 14px 16px;
        color: #1c1a1b;
        text-transform: uppercase; }
      /* line 201, cart.scss */
      #header .header-bottom .container .nav a.active span {
        color: #f0b11a;
        border-bottom: 2px solid #f0b11a;
        padding-bottom: 10px; }

/* line 210, cart.scss */
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  background-color: #1c1a1b; }
  /* line 216, cart.scss */
  #breadcrumbs .container ul.breadcrumb {
    text-align: center; }
    /* line 219, cart.scss */
    #breadcrumbs .container ul.breadcrumb li {
      font-size: 15px;
      line-height: 1.3;
      font-weight: 500;
      display: inline;
      color: #f0b11a; }
      /* line 226, cart.scss */
      #breadcrumbs .container ul.breadcrumb li a {
        color: #6d6d6d; }
      /* line 230, cart.scss */
      #breadcrumbs .container ul.breadcrumb li a:hover {
        color: #f0b11a; }
    /* line 235, cart.scss */
    #breadcrumbs .container ul.breadcrumb li + li:before {
      font-size: 15px;
      line-height: 1.3;
      font-weight: 600;
      padding: 8px;
      color: #6d6d6d;
      content: "/\00a0"; }

/* line 247, cart.scss */
#cart-box {
  margin: 15vh auto; }
  /* line 250, cart.scss */
  #cart-box .container .row_1 {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    -webkit-column-gap: 20px;
            column-gap: 20px; }
    @media (max-width: 768px) {
      /* line 250, cart.scss */
      #cart-box .container .row_1 {
        grid-template-columns: 1fr; } }
    /* line 257, cart.scss */
    #cart-box .container .row_1 .col_1 {
      width: 100%; }
      /* line 259, cart.scss */
      #cart-box .container .row_1 .col_1 table {
        width: 100%; }
        /* line 261, cart.scss */
        #cart-box .container .row_1 .col_1 table thead {
          width: 100%; }
          /* line 263, cart.scss */
          #cart-box .container .row_1 .col_1 table thead tr {
            display: grid;
            grid-template-columns: 2fr 1fr .5fr .5fr;
            -webkit-column-gap: 10px;
                    column-gap: 10px; }
            @media (max-width: 640px) {
              /* line 263, cart.scss */
              #cart-box .container .row_1 .col_1 table thead tr {
                -webkit-column-gap: 5px;
                        column-gap: 5px; } }
            /* line 270, cart.scss */
            #cart-box .container .row_1 .col_1 table thead tr th {
              font-size: 14px;
              line-height: 2.3;
              font-weight: 500;
              text-align: left;
              margin: 0; }
        /* line 279, cart.scss */
        #cart-box .container .row_1 .col_1 table tbody {
          width: 100%; }
          /* line 281, cart.scss */
          #cart-box .container .row_1 .col_1 table tbody tr {
            display: grid;
            grid-template-columns: 2fr 1fr .5fr .5fr;
            -webkit-column-gap: 20px;
                    column-gap: 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            padding: 10px 0; }
            @media (max-width: 640px) {
              /* line 281, cart.scss */
              #cart-box .container .row_1 .col_1 table tbody tr {
                -webkit-column-gap: 5px;
                        column-gap: 5px; } }
            /* line 290, cart.scss */
            #cart-box .container .row_1 .col_1 table tbody tr td.product-info {
              display: grid;
              grid-template-columns: 1fr 2fr;
              -webkit-column-gap: 20px;
                      column-gap: 20px; }
              @media (max-width: 640px) {
                /* line 290, cart.scss */
                #cart-box .container .row_1 .col_1 table tbody tr td.product-info {
                  -webkit-column-gap: 10px;
                          column-gap: 10px; } }
              /* line 298, cart.scss */
              #cart-box .container .row_1 .col_1 table tbody tr td.product-info .img-box img {
                -webkit-box-shadow: 2px 0px 27px -8px black;
                box-shadow: 2px 0px 27px -8px black; }
              /* line 305, cart.scss */
              #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .product-title {
                font-size: 15px;
                line-height: 1.3;
                font-weight: 600;
                margin: 0;
                color: #1c1a1b; }
              /* line 312, cart.scss */
              #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .collection-name {
                font-size: 13px;
                line-height: 1.7;
                font-weight: 400;
                margin: 0;
                color: #1c1a1b; }
              /* line 319, cart.scss */
              #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .available-size {
                float: left; }
                /* line 321, cart.scss */
                #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .available-size .size-title {
                  font-size: 13px;
                  line-height: 1.7;
                  font-weight: 500;
                  margin: 5px 0 0 0;
                  color: #1c1a1b; }
                /* line 328, cart.scss */
                #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .available-size .size-box {
                  margin-bottom: 30px;
                  /* Hide the browser's default checkbox */
                  /* Create a custom checkbox */
                  /* When the checkbox is checked, add a blue background */ }
                  /* line 330, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .available-size .size-box .checkbox-container {
                    display: inline-block;
                    position: relative;
                    padding-left: 28px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none; }
                  /* line 342, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .available-size .size-box .checkbox-container input {
                    position: absolute;
                    cursor: pointer;
                    opacity: 0;
                    height: 30px;
                    width: 30px;
                    margin: 0;
                    left: 0; }
                  /* line 352, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .available-size .size-box .checkmark {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    position: absolute;
                    font-size: 15px;
                    line-height: 1;
                    font-weight: 400;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    top: 0;
                    left: 0;
                    height: 30px;
                    width: 30px; }
                  /* line 367, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .available-size .size-box .checkbox-container input:checked ~ .checkmark {
                    color: #f0b11a;
                    background-color: #000; }
              /* line 373, cart.scss */
              #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .color-palette {
                margin-left: 10px;
                float: left; }
                /* line 376, cart.scss */
                #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .color-palette .palette-title {
                  font-size: 13px;
                  line-height: 1.7;
                  font-weight: 500;
                  margin: 5px 0 2px 0;
                  color: #1c1a1b; }
                /* line 383, cart.scss */
                #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .color-palette .palette-box {
                  /* The container */
                  /* Hide the browser's default checkbox */
                  /* Create a custom checkbox */
                  /* When the checkbox is checked, add a blue background */
                  /* Create the checkmark/indicator (hidden when not checked) */
                  /* Show the checkmark when checked */
                  /* Style the checkmark/indicator */ }
                  /* line 385, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .color-palette .palette-box .checkbox-container {
                    display: inline-block;
                    position: relative;
                    padding-left: 28px;
                    margin-bottom: 40px;
                    cursor: pointer;
                    font-size: 13px;
                    line-height: 1.3;
                    font-weight: 400;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none; }
                  /* line 400, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .color-palette .palette-box .checkbox-container input {
                    position: absolute;
                    cursor: pointer;
                    opacity: 0;
                    height: 30px;
                    width: 30px;
                    margin: 0;
                    left: 0; }
                  /* line 410, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .color-palette .palette-box .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 30px;
                    width: 30px;
                    background-color: #eee;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%; }
                  /* line 425, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .color-palette .palette-box .checkbox-container input:checked ~ .checkmark {
                    background-color: inherit; }
                  /* line 430, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .color-palette .palette-box .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none; }
                  /* line 437, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .color-palette .palette-box .checkbox-container input:checked ~ .checkmark:after {
                    display: block; }
                  /* line 442, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.product-info .product-detail .color-palette .palette-box .checkbox-container .checkmark:after {
                    left: 11px;
                    top: 6px;
                    width: 5px;
                    height: 12px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg); }
            /* line 457, cart.scss */
            #cart-box .container .row_1 .col_1 table tbody tr td.quantity-box {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center; }
              /* line 459, cart.scss */
              #cart-box .container .row_1 .col_1 table tbody tr td.quantity-box .quantity-form {
                max-width: 100px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                position: relative; }
                @media (max-width: 640px) {
                  /* line 459, cart.scss */
                  #cart-box .container .row_1 .col_1 table tbody tr td.quantity-box .quantity-form {
                    max-width: 80px; } }
                /* line 467, cart.scss */
                #cart-box .container .row_1 .col_1 table tbody tr td.quantity-box .quantity-form .decrement {
                  cursor: pointer;
                  position: absolute;
                  left: 0;
                  margin-left: -10px;
                  z-index: 1;
                  width: 20px;
                  height: 20px;
                  color: #f0b11a;
                  background-color: #1c1a1b;
                  text-align: center;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%; }
                /* line 484, cart.scss */
                #cart-box .container .row_1 .col_1 table tbody tr td.quantity-box .quantity-form .input-quantity {
                  color: #1c1a1b;
                  font-size: 15px;
                  line-height: 1.3;
                  font-weight: 600;
                  max-width: 100px;
                  min-height: 50px;
                  pointer-events: none;
                  border: 1px solid #000;
                  display: inline-block;
                  text-align: center;
                  vertical-align: middle; }
                  @media (max-width: 640px) {
                    /* line 484, cart.scss */
                    #cart-box .container .row_1 .col_1 table tbody tr td.quantity-box .quantity-form .input-quantity {
                      max-width: 80px;
                      min-height: 40px; } }
                /* line 501, cart.scss */
                #cart-box .container .row_1 .col_1 table tbody tr td.quantity-box .quantity-form .inrement {
                  cursor: pointer;
                  position: absolute;
                  z-index: 1;
                  right: 0;
                  margin-right: -10px;
                  width: 20px;
                  height: 20px;
                  color: #f0b11a;
                  background-color: #1c1a1b;
                  text-align: center;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%; }
            /* line 520, cart.scss */
            #cart-box .container .row_1 .col_1 table tbody tr td.price-box {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center; }
              /* line 522, cart.scss */
              #cart-box .container .row_1 .col_1 table tbody tr td.price-box .info-box {
                color: #1c1a1b; }
                /* line 524, cart.scss */
                #cart-box .container .row_1 .col_1 table tbody tr td.price-box .info-box .currency-type {
                  font-size: 12px;
                  line-height: 1.7;
                  font-weight: 400;
                  margin: 0; }
                /* line 530, cart.scss */
                #cart-box .container .row_1 .col_1 table tbody tr td.price-box .info-box .product-price {
                  font-size: 15px;
                  line-height: 1.3;
                  font-weight: 500;
                  margin: 0; }
            /* line 538, cart.scss */
            #cart-box .container .row_1 .col_1 table tbody tr td.icon-box {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center; }
              /* line 540, cart.scss */
              #cart-box .container .row_1 .col_1 table tbody tr td.icon-box i {
                cursor: pointer;
                font-size: 23px;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.3); }
              /* line 546, cart.scss */
              #cart-box .container .row_1 .col_1 table tbody tr td.icon-box i:hover {
                color: red; }
      /* line 553, cart.scss */
      #cart-box .container .row_1 .col_1 .page-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        /* line 556, cart.scss */
        #cart-box .container .row_1 .col_1 .page-info .back-page a {
          font-size: 15px;
          line-height: 1.3;
          font-weight: 500;
          color: #1c1a1b; }
        /* line 564, cart.scss */
        #cart-box .container .row_1 .col_1 .page-info .total-price .total-amount {
          font-size: 15px;
          line-height: 1.3;
          font-weight: 400;
          color: #1c1a1b; }
          /* line 569, cart.scss */
          #cart-box .container .row_1 .col_1 .page-info .total-price .total-amount span {
            font-size: 11px;
            line-height: 1.3;
            font-weight: 400;
            padding-left: 20px; }
            /* line 574, cart.scss */
            #cart-box .container .row_1 .col_1 .page-info .total-price .total-amount span span {
              font-size: 16px;
              line-height: 1.3;
              font-weight: 600;
              padding: 0; }
    @media (max-width: 768px) {
      /* line 585, cart.scss */
      #cart-box .container .row_1 .col_2 {
        margin-top: 25px; } }
    /* line 589, cart.scss */
    #cart-box .container .row_1 .col_2 .payment-detail {
      padding: 3vw 1.5vw 0 1.5vw;
      border: 1px solid rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 2px 0px 27px -8px black;
      box-shadow: 2px 0px 27px -8px black; }
      @media (max-width: 768px) {
        /* line 589, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail {
          padding: 5vw 4vw 3vw 4vw; } }
      /* line 598, cart.scss */
      #cart-box .container .row_1 .col_2 .payment-detail ul.breadcrumb {
        text-align: center; }
        /* line 600, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail ul.breadcrumb li {
          font-size: 13px;
          line-height: 1.3;
          font-weight: 500;
          display: inline;
          cursor: pointer; }
          /* line 606, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail ul.breadcrumb li a.active {
            color: #f0b11a; }
          /* line 609, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail ul.breadcrumb li a {
            color: #1c1a1b; }
        /* line 613, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail ul.breadcrumb li:hover > *, #cart-box .container .row_1 .col_2 .payment-detail ul.breadcrumb li:hover {
          color: #f0b11a; }
        /* line 616, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail ul.breadcrumb li + li:before {
          font-size: 15px;
          line-height: 1.3;
          font-weight: 500;
          padding: 5px;
          color: #6d6d6d;
          content: "\003E"; }
      /* line 626, cart.scss */
      #cart-box .container .row_1 .col_2 .payment-detail .shipping-box .category-title {
        font-size: 16px;
        line-height: 1.7;
        font-weight: 500;
        color: #1c1a1b; }
      /* line 632, cart.scss */
      #cart-box .container .row_1 .col_2 .payment-detail .shipping-box .product_type {
        padding-bottom: 15px;
        /* The container */
        /* Hide the browser's default checkbox */
        /* Create a custom checkbox */
        /* On mouse-over, add a grey background color */
        /* When the checkbox is checked, add a blue background */
        /* Create the checkmark/indicator (hidden when not checked) */
        /* Show the checkmark when checked */
        /* Style the checkmark/indicator */ }
        /* line 635, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail .shipping-box .product_type .checkbox-container {
          display: block;
          position: relative;
          padding-left: 25px;
          cursor: pointer;
          font-size: 14px;
          line-height: 1.3;
          font-weight: 500;
          color: #1c1a1b;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        /* line 650, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail .shipping-box .product_type .checkbox-container input {
          position: absolute;
          cursor: pointer;
          opacity: 0;
          height: 0;
          width: 0; }
        /* line 658, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail .shipping-box .product_type .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 14px;
          width: 14px;
          background-color: transparent;
          border: 1px solid #000; }
        /* line 668, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail .shipping-box .product_type .checkbox-container:hover input ~ .checkmark {
          background-color: #fafafa; }
        /* line 672, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail .shipping-box .product_type .checkbox-container input:checked ~ .checkmark {
          background-color: #f0b11a; }
        /* line 676, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail .shipping-box .product_type .checkmark:after {
          content: "";
          position: absolute;
          display: none; }
        /* line 682, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail .shipping-box .product_type .checkbox-container input:checked ~ .checkmark:after {
          display: block; }
        /* line 686, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail .shipping-box .product_type .checkbox-container .checkmark:after {
          left: 3.2px;
          top: 1px;
          width: 2px;
          height: 6px;
          border: solid #000;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
      /* line 698, cart.scss */
      #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form {
        width: 100%;
        margin: 5% auto; }
        /* line 701, cart.scss */
        #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group {
          position: relative;
          margin-bottom: 25px; }
          /* line 704, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group input {
            font-size: 15px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            background-color: transparent; }
          /* line 713, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group input:focus {
            outline: none; }
          /* line 716, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group label {
            color: #6d6d6d;
            font-size: 15px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all; }
          /* line 728, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group input:focus ~ label,
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group input:valid ~ label {
            top: -10px;
            font-size: 13px;
            color: #000; }
          /* line 734, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group .bar {
            position: relative;
            display: block;
            width: 100%; }
          /* line 739, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group .bar:before,
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #f0b11a;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all; }
          /* line 751, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group .bar:before {
            left: 50%; }
          /* line 754, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group .bar:after {
            right: 50%; }
          /* line 757, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group input:focus ~ .bar:before,
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group input:focus ~ .bar:after {
            width: 50%; }
          /* line 761, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group .highlight {
            position: absolute;
            height: 60%;
            width: 100px;
            top: 25%;
            left: 0;
            pointer-events: none;
            opacity: 0.5; }
          /* line 770, cart.scss */
          #cart-box .container .row_1 .col_2 .payment-detail .shipping-box form .group input:focus ~ .highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease; }
@-webkit-keyframes inputHighlighter {
  from {
    background: #f0b11a; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
      /* line 807, cart.scss */
      #cart-box .container .row_1 .col_2 .payment-detail .shipping-box .product_type label.active {
        color: #f0b11a; }
    /* line 814, cart.scss */
    #cart-box .container .row_1 .col_2 .next-step a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #1c1a1b;
      background-color: #f0b11a;
      padding: 15px;
      font-size: 16px;
      line-height: 1.3;
      font-weight: 400; }

/* line 829, cart.scss */
#services {
  padding: 10vh 0px;
  -webkit-box-shadow: inset 0px -9px 24px 2px #fafafa;
  box-shadow: inset 0px -9px 24px 2px #fafafa; }
  /* line 835, cart.scss */
  #services .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 20px;
            column-gap: 20px; }
    @media (max-width: 768px) {
      /* line 835, cart.scss */
      #services .container {
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 500px) {
      /* line 835, cart.scss */
      #services .container {
        grid-template-columns: 1fr; } }
    /* line 846, cart.scss */
    #services .container .col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 768px) {
        /* line 846, cart.scss */
        #services .container .col {
          margin: 10px 0; } }
      /* line 852, cart.scss */
      #services .container .col img {
        max-width: 45px;
        max-height: 45px; }
      /* line 857, cart.scss */
      #services .container .col .services-info {
        margin-left: 20px; }
        /* line 860, cart.scss */
        #services .container .col .services-info .service-title {
          font-size: 15px;
          line-height: 1.3;
          font-weight: 600;
          margin: 0px 0px 10px 0px;
          color: #1c1a1b; }
        /* line 868, cart.scss */
        #services .container .col .services-info .service-desc {
          font-size: 14px;
          line-height: 1.3;
          font-weight: 400;
          color: #656260;
          margin: 10px 0px 0px 0px; }

/* line 880, cart.scss */
#email-subscribe {
  margin: 10vh 0; }
  /* line 883, cart.scss */
  #email-subscribe .container .email-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    /* line 887, cart.scss */
    #email-subscribe .container .email-box input {
      padding-left: 15px;
      font-size: 15px;
      line-height: 1.3;
      font-weight: 400;
      width: 40%;
      min-height: 40px;
      border: 0;
      background-color: #fafafa; }
      @media (max-width: 768px) {
        /* line 887, cart.scss */
        #email-subscribe .container .email-box input {
          width: 70%; } }
    /* line 900, cart.scss */
    #email-subscribe .container .email-box button {
      font-size: 15px;
      line-height: 1.3;
      font-weight: 600;
      min-width: 110px;
      min-height: 40px;
      border: 0;
      background-color: #f0b11a;
      cursor: pointer; }

/* line 914, cart.scss */
footer {
  background-color: #1c1a1b; }
  /* line 916, cart.scss */
  footer .footer-top {
    padding: 10vh 0; }
    /* line 918, cart.scss */
    footer .footer-top .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      -webkit-column-gap: 10px;
              column-gap: 10px;
      color: #6d6d6d; }
      @media (max-width: 768px) {
        /* line 918, cart.scss */
        footer .footer-top .container {
          grid-template-columns: 1fr 1fr; } }
      @media (max-width: 500px) {
        /* line 918, cart.scss */
        footer .footer-top .container {
          grid-template-columns: 1fr; } }
      @media (max-width: 768px) {
        /* line 929, cart.scss */
        footer .footer-top .container .col_2, footer .footer-top .container .col_3, footer .footer-top .container .col_4 {
          display: none; } }
      /* line 934, cart.scss */
      footer .footer-top .container p {
        font-size: 14px;
        line-height: 1.3;
        font-weight: 300;
        margin: 10px auto; }
      /* line 940, cart.scss */
      footer .footer-top .container a {
        font-size: 14px;
        line-height: 1.7;
        font-weight: 300;
        color: #6d6d6d; }
      /* line 946, cart.scss */
      footer .footer-top .container img {
        max-width: 150px; }
      /* line 949, cart.scss */
      footer .footer-top .container .contact-title,
      footer .footer-top .container .footer-title {
        font-size: 17px;
        line-height: 1.3;
        font-weight: 600;
        margin: 10px 0 5px 0;
        color: #fff; }
      /* line 957, cart.scss */
      footer .footer-top .container .footer-title {
        position: relative;
        padding: 0 0 15px 0;
        text-transform: uppercase; }
      /* line 962, cart.scss */
      footer .footer-top .container .footer-title::after {
        content: "";
        position: absolute;
        width: 35px;
        height: 5px;
        left: 0;
        bottom: 0;
        background-color: #f0b11a; }
      /* line 972, cart.scss */
      footer .footer-top .container ul li:nth-child(1) {
        margin-top: 25px; }
      /* line 975, cart.scss */
      footer .footer-top .container ul li:hover a {
        color: #f0b11a; }
      /* line 980, cart.scss */
      footer .footer-top .container ul.social-icon li {
        display: inline;
        margin: 0 10px; }
        /* line 983, cart.scss */
        footer .footer-top .container ul.social-icon li a {
          font-size: 16px; }
        /* line 986, cart.scss */
        footer .footer-top .container ul.social-icon li a:hover {
          color: #f0b11a; }
      /* line 991, cart.scss */
      footer .footer-top .container .col_5 {
        display: none;
        /* Accordion styles */ }
        @media (max-width: 768px) {
          /* line 991, cart.scss */
          footer .footer-top .container .col_5 {
            display: block; } }
        @media (max-width: 500px) {
          /* line 991, cart.scss */
          footer .footer-top .container .col_5 {
            margin-top: 20px; } }
        /* line 999, cart.scss */
        footer .footer-top .container .col_5 input {
          position: absolute;
          opacity: 0;
          z-index: -1; }
        /* line 1005, cart.scss */
        footer .footer-top .container .col_5 .row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          /* line 1007, cart.scss */
          footer .footer-top .container .col_5 .row .col {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1; }
            /* line 1009, cart.scss */
            footer .footer-top .container .col_5 .row .col:last-child {
              margin-left: 1em; }
        /* line 1015, cart.scss */
        footer .footer-top .container .col_5 .tabs {
          overflow: hidden; }
        /* line 1018, cart.scss */
        footer .footer-top .container .col_5 .tab {
          width: 100%;
          overflow: hidden; }
          /* line 1021, cart.scss */
          footer .footer-top .container .col_5 .tab-label {
            font-size: 15px;
            line-height: 1.3;
            font-weight: 500;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            color: #fff;
            padding: 1em;
            cursor: pointer; }
            /* line 1030, cart.scss */
            footer .footer-top .container .col_5 .tab-label::before {
              font-family: "Font Awesome 5 Free";
              content: "\f054";
              font-size: 13px;
              font-weight: 600;
              width: 1em;
              height: 1em;
              color: #f0b11a;
              text-align: center;
              -webkit-transition: all .35s;
              transition: all .35s;
              margin-right: 10px; }
          /* line 1043, cart.scss */
          footer .footer-top .container .col_5 .tab-content {
            font-size: 13px;
            line-height: 1.5;
            font-weight: 400;
            letter-spacing: 2px;
            word-spacing: 2px;
            max-height: 0;
            padding: 0 1em;
            color: #656260;
            -webkit-transition: all .35s;
            transition: all .35s; }
            /* line 1054, cart.scss */
            footer .footer-top .container .col_5 .tab-content ul li:nth-child(1) {
              margin-top: 0px; }
            /* line 1057, cart.scss */
            footer .footer-top .container .col_5 .tab-content ul li:hover a {
              color: #f0b11a; }
          /* line 1062, cart.scss */
          footer .footer-top .container .col_5 .tab-close {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: #656260;
            cursor: pointer; }
            /* line 1069, cart.scss */
            footer .footer-top .container .col_5 .tab-close:hover {
              background: #4b4947; }
        /* line 1077, cart.scss */
        footer .footer-top .container .col_5 input:checked + .tab-label::before {
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg); }
        /* line 1081, cart.scss */
        footer .footer-top .container .col_5 input:checked ~ .tab-content {
          max-height: 100vh;
          padding: 1em;
          margin-left: 25px; }
  /* line 1090, cart.scss */
  footer .footer-bottom {
    color: #fff;
    background-color: #000; }
    /* line 1093, cart.scss */
    footer .footer-bottom .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      /* line 1097, cart.scss */
      footer .footer-bottom .container .copyright {
        font-size: 15px;
        line-height: 1.3;
        font-weight: 400;
        margin: 0; }
